/*This was a way to correct photo size if I did not crop photos. This is not best practice just my own notes. Carousel would have worked without this if I had same size photos*/
/* .cropped2 {
    width: 500px; /* width of container */
 /* height: 500px;/* height of container */
/*  object-fit: cover;
    object-position: 20px 10px; /* try 20px 10px */  

h1, p {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.308);  
}
.title {
    font-size: 50px;
    font-family:serif;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.308); 
}
.container {
    background-color: black;
}
